<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439188296157-kgcl6dlh0btdbl124gc3nageo9j69gbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439188296157-kgcl6dlh0btdbl124gc3nageo9j69gbl</string>
	<key>API_KEY</key>
	<string>AIzaSyC3jfRLSqxwwNG9f_9IbjfIDC2giqG2-fc</string>
	<key>GCM_SENDER_ID</key>
	<string>439188296157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kickchatdev.uzochukwu</string>
	<key>PROJECT_ID</key>
	<string>kickchat-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kickchat-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439188296157:ios:ab3768c373af0f6c98e634</string>
</dict>
</plist>